
.icon-align-left:before { content: '\e800'; } /* '' */
.icon-quote:before { content: '\e801'; } /* '' */
.icon-linkedin-circled:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-heart-filled:before { content: '\e804'; } /* '' */
.icon-link-1:before { content: '\f07b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
